*, html {
	margin: 0;
	padding: 0;
}

header {
	padding-top: 30px;
}

body {
	font-family: 'Arial', sans-serif;
}

#title {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h2 {
	text-align: center;
	color: #2C551C;
}

#paly-logo {
	width: 50px;
}

footer {
	background: darkgreen;
	color: lightgray;
	display:grid;
}

a {
	color: lightgray;
	text-decoration: none;
}

a:hover {
	background-color: lightgray;
	color: darkgreen;
}

.max {
	width: 100%;
	max-width: 100%;
}

#footer {
	padding: 5px;
}

#middle {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 1;
	padding: 5px;
	line-height: 1.3em;

}
#middleright {
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
	line-height: 1.3em;
}

#middleleft {
	display: grid;
	text-align: center;
	grid-column: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	line-height: 1.3em;
}